body{
	background-color:#007b7b;
	cursor:default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#selectRect{
	display:none;
	border:1px dotted #e28680;
	position:fixed;
}
